 body{
     box-sizing: border-box;
     margin-top: 45px;
  }
//  main{
//     text-align: center;

//     img{
//         width: 240px;
//         margin: auto;
//     }
//  }
//  .login-card{
//     width: 396px;
//     border: 1px solid #dddfe2;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
//     margin: auto;
    
//     p{
//         display: block;
//         font-family: inherit;
//         font-size: 23px;
//         line-height: 22px;
//         color: #1c1e21;
//         padding-top: 24px;
//         padding-bottom: 16px;
//     }
//     a{
//         color: #1877f2;
//         font-size: 14px;
//         font-weight: 500;
//     }
//     div{
//         padding: 20px;
//     }
//  }
//     .login-form{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 7px;
        
//         input{
//             color: #1c1e21;
//             border: 1px solid #dddfe2;
//             border-radius: 6px;
//             font-size: 17px;
//             padding: 14px 16px;
//             width: 330px;
//         }
//         .button{
//             background-color: #1877f2;
//             border: none;
//             border-radius: 6px;
//             font-size: 20px;
//             line-height: 48px;
//             padding: 0 16px;
//             width: 332px;
//         }
        
//     }
   
.logo{
    text-align: center;
    img{
        height: 52px;
        width: 94px;
        
    }
    
}
.login-card{
    text-align: center;
    p{
        display:none;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        padding: 0 20px;
    }
    input{
        font-family: Roboto, 'Droid Sans', Helvetica, sans-serif;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 0px 10px rgba(0, 0, 0, .1);
        color: #1c1e21;
        border: transparent;
         border-bottom: 1px solid #dddfe2;
        border-radius: 3px;
        font-size: 14px;
        padding: 14px 16px;
        width:100%;

        
    }
    .button{
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        width:350px;
        color:white;
        padding: 8px 0;
        font-weight: 400;
        
        
    }
    a{
        color: #1877f2;
        font-size: 16px;
        font-weight: 500;
    }
   .link{
    padding-top: 20px;
   }
    .p{
        display: inline;
    }
    .hr{
        display: grid;
        grid-template-columns: 1fr 50px 1fr;
        align-items: center;
        grid-area: auto;
    }
    hr{
        width:135px;
        height: 0.0px;
    }
    button{
        background-color: white;
        border: 1px solid #bec3c9;
        padding: 10px 70px;
        font-size: 15px;
        border-radius: 6px;
        
    }

}
.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    color: #576b95; 
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    text-align: center;

}
.footer-text{
    text-align: center;
    color: #576b95; 
    cursor: pointer;
   
}
.f-hr{
    display:none;
}
.footer2{
    p{
    display:none;
    }
}
@media  screen and (min-width:768px) {
   
         .logo{
            img{
                width: 220px;
                height: 120px;
                margin: auto;
            }
         }
         .login-card{
            width: 396px;
            border: 1px solid #dddfe2;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            margin: auto;
            
            p{
                display: block;
                font-family: inherit;
                font-size: 23px;
                line-height: 22px;
                color: #1c1e21;
                
            }
            a{
                color: #1877f2;
                font-size: 14px;
                font-weight: 500;
            }
            div{
                padding: 10px;
            }
            .p{
                display: none;
            }
            a{
                font-size: 15px;
            }
            
         }
            .login-form{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 7px;
                
                input{
                    color: #1c1e21;
                    border: 1px solid #dddfe2;
                    border-radius: 6px;
                    font-size: 17px;
                    padding: 14px 16px;
                    width: 330px;
                }
                .button{
                    background-color: #1877f2;
                    border: none;
                    border-radius: 6px;
                    font-size: 20px;
                    line-height: 48px;
                    padding: 0 16px;
                    width: 332px;
                }
                
                
            }
            hr{
                display: none;
            }
            
            .f-btn{
                display: none;
            }
            .footer{
                display: inline-flex;
                padding: 10px 60px;
                gap:10px;
                div{
                    display: flex;
                    gap:10px;
                }
                
            }
            .footer2 p{
                display:flex;
                color: #576b95; 
                cursor: pointer;
                text-decoration: none;
                font-size: 14px;
                padding: 0 60px;
                text-align: left;
            
            }
            .f-hr{
                display: block;
                color: #576b95; 
                margin: 0 60px;
            }
            .main-footer{
                padding-top: 150px;
            }
}
@media screen and (min-width:1024px) {
    .footer2 p{
        font-size: 18px;
        padding: 0 160px;
    }
    .footer{
        font-size: 18px;
        padding: 10px 160px;
    }
    .footer-text{
        font-size: 18px;
        
    }
    .f-hr{
        
        margin: 0 160px;
    }
}

        